.DS_Store
.vscode/
06-instructors/find_duplicate_packages.sh
__pycache__/
.ipynb_checkpoints
tmp/
01_materials/notebooks/Classification-1.ipynb
01_materials/notebooks/Classification-2.ipynb
01_materials/notebooks/Regression-1.ipynb
01_materials/notebooks/Regression-2.ipynb